# ============== #
# CMake / Build  #
# ============== #

# Ignore build and install directories from presets
/build/
/build-*/
/install/

# Ignore compiled binary files, wherever they are
*.a
*.so
*.dylib
*.dll
*.o
*.obj

# ==================== #
# IDE / Editor config  #
# ==================== #

# Visual Studio Code
.vscode/

# ==================================== #
# System files & editor backup files #
# ==================================== #

# macOS
.DS_Store

# Vim/vi backups
*.swp
*~